
:root {
    --color-blue: #219ebc;
    --color-dark-blue: #023047;
    --color-yellow: #ffb703;
    --color-orange: #fb8500;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    width: 100%;
}

header img {
    display: block;
    padding: 0 5px;
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

header nav a {
    color: var(--color-dark-blue);
    position: relative;
    transition: all .25s ease;
}

header nav a::after {
    content: "";
    background: var(--color-orange);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scalex(0);
    transition: all .25s ease;
}

header nav a:hover {
    color: var(--color-orange);
}

header nav a:hover::after {
    transform: scalex(1);
}

body {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Langar", system-ui; 
    font-size: 20px;  
    color: var(--color-dark-blue);
}

h2 {
    color: var(--color-orange);
    line-height: 60px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
}

.hero h1 {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    line-height: 70px; 
    font-size: 36px;
    background-color: rgba(2, 48, 71, 0.6);
    color: white;
    top: 40px;
}   

article {
    width: 500px;
    bottom: 20px;
    right: 20px;
    position: absolute;
    background-color: rgba(33, 158, 188, 0.5);
}

article p {
    color: white;
    padding: 10px 20px;
    text-align: right;   
}

article img {
    max-width: 30%;
    padding: 15px;
    height: auto;
    float: right;

}

.sociallinks a {
    display: block;
    width: 48px;
    height: 48px;
    text-decoration: none;
}

.history {
    padding: 40px;
}

.history-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.history-content img {
    display: block;
    width: 500px;
    padding: 20px;
}

.adventure {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 20px; */
}

.adventure figure {
    display: flex;
    flex-direction: column;
    padding: 40px;
}  

.adventure img {
    flex: 1;
    max-width: 100%;
    height: auto;

}

footer {
    max-width: 100%;
    height: 100px;
    background: var(--color-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--color-orange);
    position: absolute;
    font-weight: 700;
}

.sociallinks {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 150px;
    height: 40px;
    left: 450px;
    background-attachment: fixed;
}

.sociallinks a {
    fill: var(--color-orange);
    width: 40px;
    height: auto;
}